Django==3.2.3
django-admin-list-filter-dropdown==1.0.3
django-datetime @ git+https://github.com/reimibeta/django-datetime-utils.git@c72c75ca5f2a46895598dcc0ce78bf1127c0c40b
djangorestframework==3.12.4
djangorestframework-simplejwt==4.7.0
drf-flex-fields==0.9.0
html-render-utils @ git+https://github.com/reimibeta/django-html-render-utils.git@a50c62ffb500f3de42c3bea07d59722755857b4b
rest-framework-utils @ git+https://github.com/reimibeta/django-rest-framework-utils.git@764007b810f1c3609cca6c0e146da746531aa929